.footer {
  background-color: $grey;
  padding-bottom: 50px;
  &__arrow {
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    padding-top: 9px;
    transform: translateY(-50%);
    img {
      width: 50%;
      color: $dark-green;
    }
  }
}

.footer__ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
  }

  li {
    list-style: none;

    a {
      color: $white;
      font-family: $paragraph;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      text-decoration: none;
      &:hover {
        font-weight: 600;
      }
    }
  }

  &--first {
    @media (min-width: 768px) {
      order: 2;
    }
  }

  &--second {
    @media (min-width: 768px) {
      order: 3;
    }
  }

  &--third {
    text-align: center;
    color: $white;
    font-family: $paragraph;
    line-height: 30px;
    font-size: 16px;
    @media (min-width: 768px) {
      order: 1;
    }
    @media (min-width: 1280px) {
      transform: translateX(-50px);
    }

    .fa-solid,
    .fa-heart {
      color: $dark-green;
      font-size: 50px;
      @include heart;
    }
  }
}
