.footer {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;

  .footer__arrow {
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    padding-top: 9px;
    transform: translateY(-50%);
    img {
      width: 50%;
      color: $dark-green;
    }
  }

  ul {
    text-align: center;
    list-style: none;
    padding-bottom: 10px;

    a {
      color: $white;
      font-family: $paragraph;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      text-decoration: none;
      & :hover {
        transform: scaleX(1.5);
      }
    }
  }

  .footer__copyright {
    color: $white;
    font-family: $paragraph;
    line-height: 30px;
    font-size: 14px;

    .fa-solid,
    .fa-heart {
      color: $dark-green;
    }
  }
}
