<aside>
  <div class="container">
    <div class="container__text">
      <span>Prepáralos con tus marcas favoritas!</span>
      <h3>VUELTA AL COLE</h3>
    </div>
    <div class="container__pictures">
      <div class="container__pictures--picture1">
        <figure><img src="images/lpbts-mod05-img01-desk.png" alt="Niña con mochila" /></figure>
        <span>Mochilas escolares</span>
      </div>
      <div class="container__pictures--picture2">
        <figure><img src="images/lpbts-mod05-img04-mob.png" alt="Niño jugando" /></figure>
        <span>Estuches</span>
      </div>
      <div class="container__pictures--picture3">
        <figure><img src="images/lpbts-mod05-img03-mob.png" alt="" /></figure>
        <span>Bolsas de deporte</span>
      </div>
    </div>
    <div class="container__button">
      <a href="https:www.adalab.es">Empezar ahora</a>
    </div>
  </div>
</aside>
