<aside>
  <div class="container">
    <div class="container__text">
      <span>Prepáralos con tus marcas favoritas!</span>
      <h3>VUELTA AL COLE</h3>
    </div>
    <div class="container__pictures--picture1">
      <img src="images/lpbts-mod05-img01-desk.png" alt="Niña con mochila" />
      <span>Mochilas escolares</span>
    </div>
    <div class="container__pictures--picture2">
      <img src="images/lpbts-mod05-img04-mob.png" alt="Niño jugando" />
      <span>Estuches</span>
    </div>
    <div class="container__pictures--picture3">
      <img src="images/lpbts-mod05-img03-mob.png" alt="" />
      <span>Bolsas de deporte</span>
    </div>
    <div class="container__button">
      <a href="https:www.adalab.es">Empezar ahora</a>
    </div>
  </div>
</aside>
