<footer class="footer">
  <div class="footer__arrow">
    <img src="images/ico-arrow.svg" alt="arrow" />
  </div>
  <ul>
    <li class="footer__link"><a href="https:www.adalab.es">ZAPATILLAS</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">ROPA</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">NIÑO/A</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">DESTACADOS</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">TIPS</a></li>
  </ul>
  <ul>
    <li class="footer__link"><a href="https:www.adalab.es">TWITTER</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">INSTAGRAM</a></li>
    <li class="footer__link"><a href="https:www.adalab.es">YOUTUBE</a></li>
  </ul>
  <ul class="footer__copyright">
    <li>©2023</li>
    <li>we <i class="fa-solid fa-heart"></i> run</li>
  </ul>
</footer>
