<footer class="footer">
  <div class="footer__arrow">
    <a href="#header"><img src="images/ico-arrow.svg" alt="arrow" /></a>
  </div>
  <div class="footer__ul">
    <ul class="footer__ul--first">
      <li><a href="https:www.adalab.es">ZAPATILLAS</a></li>
      <li><a href="https:www.adalab.es">ROPA</a></li>
      <li><a href="https:www.adalab.es">NIÑO/A</a></li>
      <li><a href="https:www.adalab.es">DESTACADOS</a></li>
      <li><a href="https:www.adalab.es">TIPS</a></li>
    </ul>
    <ul class="footer__ul--second">
      <li><a href="https:www.adalab.es">TWITTER</a></li>
      <li><a href="https:www.adalab.es">INSTAGRAM</a></li>
      <li><a href="https:www.adalab.es">YOUTUBE</a></li>
    </ul>
    <ul class="footer__ul--third">
      <li>©2023</li>
      <li>we <i class="fa-solid fa-heart"></i> run</li>
    </ul>
  </div>
</footer>
